.product-wrapper {
  padding: 30px;
  label {
    margin: 0 0 21px;
    display: block;
    h2 {
      margin: 0 0 9px;
    }
    .input-error {
      font-size: 15px;
      color: red;
    }
  }
  .product-form-input {
    border: 0;
    margin: 0;
    padding: 15px;
    outline: 0;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    background: #f5f5f5;
    border: 1px solid transparent;
  }
  .product-form-input.error {
    border-radius: 4px 4px 0 0;
    border-color: #b54846;
  }
  input[readonly] {
    color: rgb(117, 117, 117);
    cursor: not-allowed;
  }
  select {
    -webkit-appearance: none;
    appearance: none;
  }
  .select-wrapper {
    width: 50%;
    position: relative;
  }
  .select-wrapper::after {
    content: "▼";
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
  }
  .save-changes-btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 12px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  .save-changes-btn:hover {
    background-color: rgb(91, 173, 255);
  }
  .save-changes-btn[disabled] {
    cursor: not-allowed;
    background-color: rgb(91, 173, 255) !important;
  }
}
